
content
{
  margin-top: 63px;
     width:90%;
      text-align: center;
        padding:1%;
         overflow:hidden; 
}

#login
      {
     margin-top: 63px;
     width:90%;
      text-align: center;
        padding:1%;
         overflow:hidden; 
      }

      input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
select,
textarea
{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  font-size: 15px;
  height: 30px;
  border: 1px solid black;
}

.button_1
{
  background-color: #e7e7e7;
  letter-spacing: 1px;
  text-align: center;
  color: #555;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  border: 0px;
  padding: 10px;
  margin: 10px 0 10px 0;
  text-decoration: none;
  display: inline-block;
 }

 .button_1:hover
 {
  background-color:#EEE;
  color: #555;
  border: 0px;
 }
 .button_plus
{
  background-color: #e7e7e7;
  letter-spacing: 1px;
  text-align: center;
  color: #555;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  border: 0px;
  padding: 10px;
  margin: 10px 0 10px 0;
  text-decoration: none;
  display: inline-block;
 }

 .button_plus:hover
 {
  background-color:#EEE;
  color: #555;
  border: 0px;
 }

.switch
{
  margin: 8px 10px 5px 10px;
 position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

.switch input {display: none;}

 .checkmark_if
 {
   position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
    border-radius: 50px;
}

.checkmark_if:before 
{
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
    border-radius: 50px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .checkmark_if
{ background-color: #2196F3;}

input:focus + .checkmark_if
{ box-shadow: 0 0 1px #2196F3; }

input:checked + .checkmark_if:before
{
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

.input_name
{
width:250px;
}

a
{
  text-decoration: none !important;
}

.error
    {
      color:red;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
    }

table
{
  margin: 0 auto; 
}

.td_small
{
  color:gray;
  font-size: 10px;
  font-style: italic;
}

.td_big
{
  
}

.td_mid
{
  
}

.td_checkbox
{

}

h1
{
  text-align: center;
  font-size: 30px;
}

#eject_ex
{
display: none;
}

.bg-default
{
  background-color: #000;
}

.text-xs-center {
        text-align: center;
    }

    .g-recaptcha {
        display: inline-block;
    }

.toggle_content
{
  display: none;
}
.toggle_content.edit_ex
{background-color: #fafafa;}

.none
{
  display: none;
}

.gallery
{
  width:100%;
}

canvas {
   display: inline;
   width: 450px;
   height: 450px;
}


.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column{
  
  width: 25%;
  float: left;
}
.column img{
  max-height: 180px;
  margin-top: 15px;
}

.column_small{
  width: 25%;
  float: left;
}

.column_small img{
  max-height: 90px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
.mySlides img{
  max-height:450px;
    max-width:800px;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 800px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_box{
  width: 100%; 
  max-height:120px; 

   overflow: scroll;
}

ul.list{

  list-style-position: inside;
}

#gallery_box{
  width: 99%;
}

footer {
  position: initial;
  right: 0;
  bottom: 0;
  left: 0;
margin-top: 100px;
  padding: 1rem;
  color:#efefef;
  background-color: #333;
  text-align: center;
}

.borderless td, .borderless th {
    border: none !important;
}

.red
{
  color:red;
}
#ma
{
margin-left:150px; 
  width: 80%;
text-align: left;}
